# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build
.vite

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Misc
coverage
.env
.env.local
