# Database connection properties
MONGODB_DATABASE=
MONGODB_HOST=
MONGODB_PORT=

# Database credentials
MONGODB_AUTH_DB=
MONGODB_USER=
MONGODB_PASS=

MONGODB_DATAPATH=

# SMTP server connection properties
SMTP_HOST=
SMTP_PORT=

# SMTP Server credentials
SMTP_USER=
SMTP_PASS=

# Application port
SERVER_PORT=

# SSL Settings
SSL_STORE=
SSL_STORE_TYPE=
SSL_STORE_PASS=
SSL_ALIAS=

RSA_PRIVATE=
RSA_PUBLIC=

# Application host URL
APP_HOST_URL=